<!DOCTYPE html>
<html>
<head>
	<title>Change Password</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container mt-4">
		<h1>Change Password</h1>
		<form method="POST" action="/changePassword">
			<div class="form-group">
				<label for="currentPassword">Current Password:</label>
				<input type="password" class="form-control" id="currentPassword" name="currentPassword" required>
			</div>

			<div class="form-group">
				<label for="newPassword">New Password:</label>
				<input type="password" class="form-control" id="newPassword" name="newPassword" required>
			</div>

			<div class="form-group">
				<label for="verifyPassword">Verify New Password:</label>
				<input type="password" class="form-control" id="verifyPassword" name="verifyPassword" required>
			</div>

			<button type="submit" class="btn btn-success">Update Password</button>
		</form>
	</div>
</body>
</html>
