<%- include("templates/header") %> 

<main class="col-xs-6 col-md-10 mx-auto" style="font-size: 40px;">

    <section class="py-5 text-center">
      <div class="row py-lg-5">
        <div>
          <h1 class="display-3 fw-bold">Dogs Goods! </h1>
          <br>
          <p class="text-body-secondary"> 
            Here are some pet supermarkets to shop some dog goods for 
            your ideal or current dog! </p>
        </div>
      </div>
    </section>
  
    <div class="album py-5">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            <% for (let i = 0; i < shopNames.length; i++) { %>
                <%- include('templates/dogGoodsCard', { shopName: shopNames[i], shopLink: shopLinks[i] }); %>
            <% } %>
            
          </div>
        </div>
      </div>
  
</main>

<%- include("templates/footer") %> 