<%- include("templates/header") %> 

<main style="font-size:40px">
    <div class="text-center py-5">
        <h1 class="display-3 fw-bold mb-5">Dog Trivia</h1>
    </div>

    <div class="mx-5 text-center" 
    style="height: 80vh; display:flex; flex-direction: column; justify-content: center;">
        <p> How confident are you with your dog knowledge? </p>
        <p> Identify the name of upcoming 10 dog breeds! </p>
        <p> Are you ready? </p>
        <br>

        <button class="btn btn-success" style="font-size:40px"
        onclick="window.location.href='/dogTrivia'"> 
            Bring it on! 
        </button>
    </div>
</main>

<%- include("templates/footer") %> 
 