<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>Dog Trivia</title>
</head>

<body>
    
<%- include("templates/header") %>

<main style="font-size:40px">
    <div class="text-center py-5">
        <h1 class="display-1 mb-5">Dog Trivia</h1>
        <h2> How confident are you with your dog knowledge? </h2>
    </div>

    <div class="mx-5 text-center">
        <p> YOU LOST </p>

        <p> The correct answer was: <%= correctAnswer %> </p>
    </div>
</main>

<%- include("templates/footer") %>
