<%- include("templates/header") %>

<main style="font-size:40px">
    <div class="text-center py-5">
        <h1 class="display-1 mb-5">Dog Trivia</h1>
    </div>

    <div class="mx-5 text-center">
        <p> How confident are you with your dog knowledge? </p>
        <p> Answer the most you can until you lose! </p>
        <p> Are you ready? </p>
        <br>

        <button class="btn btn-success" style="font-size:40px"
            onclick="window.location.href='/dogTrivia'">
            Bring it on!
        </button>
    </div>
</main>

<%- include("templates/footer") %>
