<!DOCTYPE html>
<html>
<head>
	<title>Filter Confirmation</title>
	<style>
		body {
			font-family: Arial, sans-serif;
			background-color: #f2f2f2;
			text-align: center;
		}
		h1 {
			font-size: 32px;
			margin-top: 50px;
		}
		p {
			font-size: 24px;
			margin-top: 30px;
			margin-bottom: 50px;
		}
		button {
			padding: 10px 20px;
			font-size: 20px;
			border: none;
			border-radius: 4px;
			background-color: #4CAF50;
			color: white;
			cursor: pointer;
		}
	</style>
</head>
<body>
	<br><br><br>	<br><br><br>
	<br><br><br>	<br><br><br>


	<h1>Confirmation</h1>
	<p>Are you sure you want to apply these filters?</p>
    <a href="/filters"><button>No</button></a>
	<a href="/"><button>Continue</button></a>
</body>
</html>
