<!DOCTYPE html>
<html lang="en">
    <head>
        <title>iDealpup - Find Your Ideal Dog Breed</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <!-- Custom CSS -->
        <style>
    /* Background color */
    body {
      background-color: #C8E6C9;
    }
    /* Header style */
    .header {
      background-color: #2E7D32;
      color: white;
      padding: 10px;
    }
    /* Container style */
    .container {
      background-color: #FFFFFF;
      padding: 20px;
    }
    /* Form style */
    form {
      margin-bottom: 20px;
    }
  </style>
    </head>
    <body>
        <%- include('templates/header') %>

            <div class="header">
                <h1>Filters - Find Your Ideal Dog Breed!</h1>
            </div>

            <div class="container">
                <form id="filter-form" method="POST" action="/filterconfirmation">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3>Height: 'Inches'</h3>
                            <div class="radio">
                                <label><input type="radio" name="height"
                                        value="very small">6" - 17"</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="height"
                                        value="small">18" - 29"</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="height"
                                        value="medium">30" - 41"</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="height"
                                        value="large">42" - 53"</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="height"
                                        value="very large">54" - 66"</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h3>Weight: 'Lbs'</h3>
                            <div class="radio">
                                <label><input type="radio" name="weight"
                                        value="very very light">2 - 34</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="weight"
                                        value="very light">35 - 67</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="weight"
                                        value="light">68 - 100</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="weight"
                                        value="medium">101 - 133</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="weight"
                                        value="heavy">134 - 166</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="weight"
                                        value="very heavy">166 - 190</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h3>Fur Color:</h3>
                            <div class="checkbox">
                                <label><input type="checkbox" name="color"
                                        value="red">Red</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="color"
                                        value="black">Black</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="color"
                                        value="white">White</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="color"
                                        value="cream">Cream</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="color"
                                        value="blue">Blue</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="color"
                                        value="grey">Grey</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="color"
                                        value="apricot">Apricot</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="color"
                                        value="golden">Golden</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="color"
                                        value="tan">Tan</label>
                            </div>
                        </div>
                        <br>
                        <div class="col-sm-6">
                            <h3>Trainability:</h3>
                            <div class="radio">
                                <label><input type="radio" name="size"
                                        value="low">Low</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="size"
                                        value="average">Average</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="size"
                                        value="high">High</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="size"
                                        value="very high">Very High</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="size"
                                        value="exceptional">Exceptional</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h3>Traits:</h3>
                            <div class="checkbox">
                                <label><input type="checkbox" name="traits[]"
                                        value="loyal"
                                        onclick="limitCheckboxes()">Loyal</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="traits[]"
                                        value="strong"
                                        onclick="limitCheckboxes()">Strong</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="traits[]"
                                        value="independent"
                                        onclick="limitCheckboxes()">Independent</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="traits[]"
                                        value="curious"
                                        onclick="limitCheckboxes()">Curious</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="traits[]"
                                        value="friendly"
                                        onclick="limitCheckboxes()">Friendly</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="traits[]"
                                        value="confident"
                                        onclick="limitCheckboxes()">Confident</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="traits[]"
                                        value="affectionate"
                                        onclick="limitCheckboxes()">Affectionate</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="traits[]"
                                        value="trainable"
                                        onclick="limitCheckboxes()">Trainable</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="checkbox">
                                <label><input type="checkbox" name="traits[]"
                                        value="good natured"
                                        onclick="limitCheckboxes()">Good Natured</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="traits[]"
                                        value="intelligent"
                                        onclick="limitCheckboxes()">Intelligent</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="traits[]"
                                        value="gentle"
                                        onclick="limitCheckboxes()">Gentle</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="traits[]"
                                        value="energetic"
                                        onclick="limitCheckboxes()">Energetic</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="traits[]"
                                        value="patient"
                                        onclick="limitCheckboxes()">Patient</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="traits[]"
                                        value="playful"
                                        onclick="limitCheckboxes()">Playful</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="traits[]"
                                        value="social"
                                        onclick="limitCheckboxes()">Social</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="traits[]"
                                        value="kind"
                                        onclick="limitCheckboxes()">Kind</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="traits[]"
                                        value="sensitive"
                                        onclick="limitCheckboxes()">Sensitive</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="traits[]"
                                        value="charming"
                                        onclick="limitCheckboxes()">Charming</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="traits[]"
                                        value="protective"
                                        onclick="limitCheckboxes()">Protective</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" name="traits[]"
                                        value="athletic"
                                        onclick="limitCheckboxes()">Athletic</label>
                            </div>

                        </div>
                    </div>


                <a href="/filterconfirmation"><button type="submit" class="btn btn-success">Search With These Filters</button></a>
            </form>
        </div>



                    <a href='/filterconfirmation'><button type="submit"
                            class="btn btn-success">Search With These Filters</button></a>
                </form>
            </div>

            <%- include('templates/footer') %>
                <script src="/js/filters.js"></script>
                <script
                    src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script
                    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
            </body>
        </html>
