<!DOCTYPE html>
<html>
<head>
    <title>No Results</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            margin-top: 50px;
            text-align: center;
        }
        .btn-back {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>No Results Found</h1>
        <p>Sorry, there are no results matching your chosen filters.</p>
        <a href="/filters" class="btn btn-primary btn-back">Try Again</a>
    </div>
</body>
</html>
