<div class="col">
    <div class="card shadow-sm">
      <img src="/happyCorgi.jpg" onclick="window.location.href='/description?item=<%= bookmarkedDog %>'">
      <div class="card-body">
        <p class="card-text" onclick="window.location.href='/description?item=<%= bookmarkedDog %>'"> <%= bookmarkedDog %> </p>
        <div class="d-flex justify-content-between align-items-center">
        </div>
      </div>
      <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='/addOrRemoveBookmark?item=<%= bookmarkedDog %>'"> Unbookmark </button>
    </div>
</div>
