<div class="mb-5 px-5" style="display:flex; align-items: center" 
onclick="window.location.href='/details?<%= todaysDog %>'">

    <img src="/<%= todaysImage %>" class="img-fluid border rounded-3 " 
    alt="Example image" loading="lazy" 
    style="flex: 1; max-width: 70%; cursor: pointer;">

    <div class="px-5" style="flex: 1"> <%= todaysDog %> </div>
    <br>

</div>   
