<div class="col-md-10 mb-4 mx-auto">
    <div class="card shadow-sm">

      <img width='380'src="/<%= shopName %>.jpg" 
        onclick="window.location.href='<%= shopLink %>'">

      <div class="card-body">
        <p class="card-text"> <%= shopName %> </p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
          </div>
        </div>
      </div>
    </div>
</div>