<div class="col">
    <div class="card shadow-sm">
      <img src="/<%= shopName %>.jpg" onclick="<%= shopLink %>">
      <div class="card-body">
        <p class="card-text"> <%= shopName %> </p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
          </div>
        </div>
      </div>
    </div>
</div>