<style>
body {
  margin-bottom:100px;
}
.content {
  min-height: calc(100vh - 60px); 
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  height: 80px;
}
</style>

<div class="container">
    <footer class="py-6 fixed-bottom my-4">
      <ul class="nav justify-content-evenly border-bottom py-3 mb-3">
        <a href='/'><img src="home.svg" alt="Home" class="img-fluid"></a>
        <a href='/compare'><img src="compare.svg" alt="Compare" class="img-fluid"></a>
        <a href='/bookmark'><img src="bookmark.svg" alt="Bookmark" class="img-fluid"></a>
        <a href='/dogsGood'><img src="dogsGood.svg" alt="Compare" class="img-fluid"></a>
        <a href='/profile'><img src="profile.svg" alt="Profile" class="img-fluid"></a>
      </ul>
    </footer>
</div>

</body>
</html>
